@import "tailwindcss";

@theme {
    --color-primary: #1D3F72;
    --color-secondary: #497BDB;
    --color-accent: #9EFF99;
    --color-background: #FFFBF6;
    --color-text: #333333;
    --color-my-yellow: #FFDC7B;
}

button {
    @apply duration-700 hover:cursor-pointer;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    color: #333333;
    background-color: #fffbf6;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {

    font-weight: bold;
}