<section class="">
    <nav class="flex">
        <img
            src="/src/assets/vallax-think.png"
            alt="Vallax think"
            width="200"
            height="200"
        />
        <div class="flex flex-col py-4 gap-5">
            <h1 class="text-3xl font-bold">Sobre Vallax</h1>
            <span class="max-w-70 text-2xl font-medium"
                >Que me ofrece Vallax y porque usarlo.</span
            >
        </div>
    </nav>
</section>
