---

---

<div class="w-50 h-44 p-1 flex relative font-semibold lg:w-66 lg:h-55">
    <div
        class="border-primary rounded-[15px] flex flex-grow border-2 p-2 justify-end pl-17 bg-my-yellow"
    >
        <div
            class="absolute left-[4px] border-r-2 border-b-2 top-1 border-primary w-15 h-15 bg-background z-10"
        >
        </div>
        <div class="flex flex-col mt-2 gap-2 text-start">
            <h3 class="text-[14px] lg:text-[21px]">Alertas exprés</h3>

            <span class="block text-[10px] font-semibold lg:text-[12px]"
                >Vallax te avisa al instante cuando algún articulo <h4
                    class="font-bold text-secondary"
                >
                    coincida con tus filtros
                </h4>
            </span>

            <h3
                class="text-[14px] lg:text-[18px] absolute bottom-5 left-[50%] -translate-x-1/2 w-40 lg:w-55 text-center"
            >
                ¡No se escapa nada!
            </h3>
        </div>
    </div>

    <div
        class="flex items-center justify-center rotate-[-25deg] absolute right-[4px] border-primary border-2 top-1 rounded-tl-[15px] w-15 h-15 bg-secondary z-10 -translate-x-[12rem] -translate-y-[8px] lg:-translate-x-[16rem]"
    >
        <img src="/src/assets/siren.svg" class="w-[40px]" />
    </div>
</div>
