---

---

<div class="w-50 h-44 p-1 flex relative lg:w-66 lg:h-55">
    <div
        class="border-primary rounded-[15px] flex flex-grow border-2 p-2 bg-secondary text-white"
    >
        <div
            class="absolute right-[4px] border-l-2 border-b-2 top-1 border-primary w-15 h-15 bg-background z-10"
        >
        </div>
        <div class="flex flex-col mt-2 gap-2">
            <h3 class="text-[14px] lg:text-[21px]">Crea tus filtros</h3>

            <span
                class="block text-[10px] font-semibold max-w-[7rem] lg:text-[12px] lg:max-w-[10rem]"
                >Vallax permite crear filtros de manera <h4
                    class="font-bold text-my-yellow"
                >
                    rapida y facil
                </h4>
            </span>

            <h3
                class="text-[14px] lg:text-[18px] absolute bottom-5 left-[50%] -translate-x-1/2 w-30 lg:w-43 text-center"
            >
                ¡Afina tu mira!
            </h3>
        </div>
    </div>

    <div
        class="flex items-center justify-center rotate-[25deg] absolute right-[4px] border-primary border-2 top-1 rounded-tr-[15px] w-15 h-15 bg-my-yellow z-10 -translate-x-[-3rem] -translate-y-[8px]"
    >
        <img src="/src/assets/snipper.svg" class="w-[40px]" />
    </div>
</div>
