---
import CardBasic from "./CardBasic.astro";
---

<section>
    <nav class="flex">
        <img
            src="/src/assets/vallax-think.png"
            alt="Vallax think"
            width="200"
            height="200"
        />
        <div class="flex flex-col py-4 gap-5">
            <h1 class="text-3xl font-bold">Sobre Vallax</h1>
            <span class="max-w-70 text-2xl font-medium"
                >Que me ofrece Vallax y porque usarlo.</span
            >
        </div>
    </nav>
    <div class="flex flex-col gap-5">
        <div class="flex grow justify-start p-10 gap-20">
            <CardBasic
                title="Tres cuerpos"
                num="1"
                content="Wallapop y Vinted, un caos. Vallax lo resuelve fácil."
                slogan="¡Todo bajo control!"
            />

            <CardBasic
                title="Rápido y sin complicaciones"
                num="2"
                content="Configura Vallax en minutos y empieza a ahorrar tiempo desde el primer clic."
                slogan="¡Así da gusto!"
            />
        </div>
        <div class="flex grow justify-start p-10 gap-20">
            <CardBasic
                title="Notificaciones en tiempo real"
                num="3"
                content="Entérate al instante de cualquier novedad. Siempre un paso por delante."
                slogan="¡Nada se me escapa!"
            />
            <CardBasic
                title="Filtros potentes, uso fácil"
                num="4"
                content="Crea filtros simples o avanzados según tus necesidades, sin complicaciones."
                slogan="¡No hace falta ser un genio!"
            />
        </div>
    </div>
</section>
