---

---

<div class="w-50 h-44 p-1 flex relative font-semibold">
    <div
        class="border-primary rounded-[15px] flex flex-grow border-2 p-2 justify-end pl-17"
    >
        <div
            class="absolute left-[4px] border-r-2 border-b-2 top-1 border-primary w-15 h-15 bg-background z-10"
        >
        </div>
        <div class="flex flex-col mt-2 gap-2 text-start">
            <h3>Alertas exprés</h3>

            <span class="block text-[10px] font-semibold"
                >Vallax te avisa al instante cuando algún articulo <h4
                    class="font-bold text-primary"
                >
                    coincida con tus filtros
                </h4>
            </span>

            <h3 class="absolute bottom-5 left-[50%] -translate-x-1/2 w-40">
                ¡No se escapa nada!
            </h3>
        </div>
    </div>

    <div
        class="flex items-center justify-center rotate-[-25deg] absolute right-[4px] border-primary border-2 top-1 rounded-tl-[15px] w-15 h-15 bg-secondary z-10 -translate-x-[12rem] -translate-y-[8px]"
    >
        <img src="/src/assets/siren.svg" />
    </div>
</div>
