---
interface Props {
    content: string;
    slogan: string;
    num: string;
    title: string;
}

const {
    content = "lorem ipsum",
    slogan = "lorem ipsun",
    num = "1",
    title = "What is",
} = Astro.props;
---

<div
    class="flex gap-5 flex-col p-2 justify-between border-text border-3 rounded-2xl min-w-[25rem]"
>
    <!-- Nav card -->
    <nav class="flex gap-2 items-center">
        <span
            class="flex h-10 w-10 text-center items-center justify-center rounded-full bg-primary text-background text-2xl"
        >
            {num}
        </span>
        <span class="text-2xl font-medium">{title}</span>
    </nav>
    <span class="p-4 max-w-[25rem]">{content}</span>
    <span class="text-center font-medium text-primary">{slogan}</span>
</div>
