---
interface Props {
    content: string;
    premium: boolean;
}

const { content = "hola", premium = false } = Astro.props;
---

<div class="flex gap-2 items-center">
    <img
        src={premium
            ? "/src/assets/white-check.png"
            : "/src/assets/blue-check.png"}
        alt="Check"
        width="35"
        height="35"
    />
    <span>{content}</span>
</div>
