---
import Social from "./Social.astro";
---

<footer class="bg-primary items-center mt-100">
    <div class="flex gap-5 items-center justify-center pt-15">
        <Social
            title="Twitter"
            src="/src/assets/x.png"
            url="https://www.twitch.tv/"
        />
        <Social
            title="Instagram"
            src="/src/assets/instagram.png"
            url="https://www.twitch.tv/"
        />
        <Social
            title="Discord"
            src="/src/assets/discord.png"
            url="https://www.twitch.tv/"
        />
    </div>
    <div class="flex items-center relative justify-center">
        <img src="/src/assets/vallax-head.png" width="200" height="200" />
        <span class="text-end text-white absolute right-5 bottom-5"
            >Derechos de autor reservados 2025</span
        >
    </div>
</footer>
