<div
    class="border-3 rounded-[14px] border-primary items-center flex flex-col p-8 max-h-[32rem] w-80 2xl:w-full 2xl:max-h-[43rem]"
>
    <nav class="flex flex-col items-center">
        <h2>Gratuito</h2>
        <img
            src="/vallax-front/assets/vallax-unhappy.svg"
            class="w-[100px] 2xl:w-[150px]"
        />
    </nav>
    <div
        class="flex flex-col mt-1 font-semibold text-[14px] gap-5 2xl:text-[20px] w-full"
    >
        <div class="flex gap-2">
            <img
                src="/vallax-front/assets/new_check.svg"
                class="w-[20px] 2xl:w-[30px]"
            />
            <span>Control de una plataforma</span>
        </div>
        <div class="flex gap-2">
            <img
                src="/vallax-front/assets/new_check.svg"
                class="w-[20px] 2xl:w-[30px]"
            />
            <span>Un filtro activo al mismo tiempo</span>
        </div>
        <div class="flex gap-2">
            <img
                src="/vallax-front/assets/new_check.svg"
                class="w-[20px] 2xl:w-[30px]"
            />
            <span>Filtros por palabras claves</span>
        </div>
        <div class="flex gap-2">
            <img
                src="/vallax-front/assets/new_check.svg"
                class="w-[20px] 2xl:w-[30px]"
            />
            <span>Filtros por categorias y precio</span>
        </div>
    </div>
    <h1 class="mt-5">0€</h1>
</div>
