<div
    class="w-80 border-3 rounded-[14px] border-primary items-center flex flex-col p-8"
>
    <nav class="flex flex-col items-center">
        <h2>Gratuito</h2>
        <img src="/src/assets/vallax-unhappy.svg" width="100" />
    </nav>
    <div class="flex flex-col mt-1 font-semibold text-[14px] gap-5">
        <div class="flex gap-2">
            <img src="/src/assets/new_check.svg" width="20" />
            <span>Control de una plataforma</span>
        </div>
        <div class="flex gap-2">
            <img src="/src/assets/new_check.svg" width="20" />
            <span>Un filtro activo al mismo tiempo</span>
        </div>
        <div class="flex gap-2">
            <img src="/src/assets/new_check.svg" width="20" />
            <span>Filtros por palabras claves</span>
        </div>
        <div class="flex gap-2">
            <img src="/src/assets/new_check.svg" width="20" />
            <span>Filtros por categorias y precio</span>
        </div>
    </div>
    <h1 class="mt-5">0€</h1>
</div>
