<div
    class="w-80 border-3 rounded-[14px] bg-primary text-white border-primary items-center flex flex-col p-8"
>
    <nav class="flex flex-col items-center">
        <h2>Premium</h2>
        <img src="/src/assets/vallax-happy.svg" width="100" />
    </nav>
    <div class="flex flex-col mt-12 font-semibold text-[14px] gap-5">
        <div class="flex gap-2">
            <img src="/src/assets/check_white.svg" width="20" />
            <span
                >Acceso a todas las plataformas disponibles (Wallapop y Vinted)</span
            >
        </div>
        <div class="flex gap-2">
            <img src="/src/assets/check_white.svg" width="20" />
            <span>Hasta 6 busquedas activas al mismo tiempo </span>
        </div>
        <div class="flex gap-2">
            <img src="/src/assets/check_white.svg" width="20" />
            <span>Creación de filtros por comandos</span>
        </div>
        <div class="flex gap-2">
            <img src="/src/assets/check_white.svg" width="20" />
            <span>Uso de Regex, para busquedas precisas</span>
        </div>
    </div>
    <h1 class="mt-10">5,99€</h1>
</div>
