<div
    class="w-80 border-3 rounded-[14px] bg-primary text-white border-primary items-center flex flex-col p-8 2xl:w-full"
>
    <nav class="flex flex-col items-center">
        <h2>Premium</h2>
        <img
            src="../assets/vallax-happy.svg"
            class="w-[100px] 2xl:w-[180px] mt-4"
        />
    </nav>
    <div
        class="flex flex-col mt-3 font-semibold text-[14px] gap-5 2xl:text-[20px]"
    >
        <div class="flex gap-2">
            <img
                src="../assets/check_white.svg"
                class="w-[20px] 2xl:w-[30px]"
            />
            <span class="2xl:max-w-[21rem]"
                >Acceso a todas las plataformas disponibles (Wallapop y Vinted)</span
            >
        </div>
        <div class="flex gap-2">
            <img
                src="../assets/check_white.svg"
                class="w-[20px] 2xl:w-[30px]"
            />
            <span class="2xl:max-w-[21rem]"
                >Hasta 6 busquedas activas al mismo tiempo
            </span>
        </div>
        <div class="flex
                gap-2">
            <img
                src="../assets/check_white.svg"
                class="w-[20px] 2xl:w-[30px]"
            />
            <span class="2xl:max-w-[21rem]"
                >Creación de filtros por comandos</span
            >
        </div>
        <div class="flex gap-2">
            <img
                src="../assets/check_white.svg"
                class="w-[20px] 2xl:w-[30px]"
            />
            <span class="2xl:max-w-[21rem]"
                >Uso de Regex, para busquedas precisas</span
            >
        </div>
    </div>
    <h1 class="mt-10">5,99€</h1>
</div>
