---
interface Props {
    title: string;
    src: string;
    url: string;
}

const { title = "", src = "", url = "" } = Astro.props;
---

<a
    class="flex flex-col items-center text-white gap-2 hover:scale-105 duration-150"
    href={url}
    target="_blank"
>
    <img src={src} width="30" height="30" class="" />
    <span>{title}</span>
</a>
