<a
    href="https://t.me/Vallaxbot"
    target="_blank"
    class="py-2 2xl:py-3 bg-primary rounded-[6px] text-white flex flex-grow justify-center text-[13px] font-semibold items-center hover:bg-secondary 2xl:text-[20px]"
>
    <button> Empezar </button>
</a>
