---
import AboutCard from "../components/AboutCard.astro";
import AboutCardTwo from "../components/AboutCardTwo.astro";
import Phone from "../components/Phone.astro";
---

<section class="flex flex-col items-center mt-30 xl:mt-40 2xl:mt-80 w-full">
    <nav class="flex justify-center w-full">
        <h1>Como funciona</h1>
    </nav>
    <div class="flex flex-col mt-15 w-full p-2 gap-20">
        <AboutCard />
        <AboutCardTwo class:list={"self-end"} />
    </div>
    <Phone class:list={"mt-20"} />
</section>
