---
import AboutCard from "../components/AboutCard.astro";
import AboutCardTwo from "../components/AboutCardTwo.astro";
import Phone from "../components/Phone.astro";
---

<section
    class="flex flex-col items-center mt-30 borders p-30 xl:mt-40 2xl:mt-80"
>
    <nav class="flex items-center gap-4">
        <h1>Como funciona</h1>
    </nav>
    <div
        class="grid grid-cols-2 mt-20 w-full gap-20 lg:flex lg:justify-center lg:gap-60"
    >
        <AboutCard />
        <div class="lg:row-start-1 row-start-2 col-start-2">
            <AboutCardTwo />
        </div>
    </div>
    <Phone class:list={"mt-40"} />
</section>
