---
import AboutCard from "../components/AboutCard.astro";
import AboutCardTwo from "../components/AboutCardTwo.astro";
---

<section class="flex flex-col items-center mt-30 borders relative p-30">
    <nav class="flex items-center gap-4">
        <h1>Como funciona</h1>
    </nav>
    <div class="grid grid-cols-2 mt-20 w-full gap-20 relative">
        <img src="/src/assets/arrow.svg" class="absolute right-15 top-30" />
        <img
            src="/src/assets/arrow_reverse.svg"
            class="absolute left-20 bottom-0 -translate-y-[-3rem]"
        />
        <AboutCard />
        <div class="row-start-2 col-start-2">
            <AboutCardTwo />
        </div>
    </div>

    <img src="/src/assets/phone.svg" class="row-start-3 mt-20" />
</section>
