---
import DocButton from "../components/DocButton.astro";
import StartButton from "../components/StartButton.astro";
---

<section
    class="flex flex-col items-center lg:flex-row lg:justify-center lg:items-start lg:mt-10 xl:mt-22"
>
    <img
        src="/vallax-front/assets/vallax-pet.svg"
        alt="not found"
        class="lg:w-[13rem] 2xl:w-[20rem]"
    />
    <div class="flex flex-col gap-7 mt-8">
        <span
            class="max-w-80 text-center text-[1rem] font-medium lg:text-[1.2rem] 2xl:text-[1.8rem] 2xl:max-w-130"
        >
            Controla las principales <b>plataformas</b> de segunda mano
        </span>

        <div class="flex flex-col gap-2">
            <div class="flex gap-2">
                <div
                    class="px-3 py-1 border-2 rounded-[6px] border-primary flex"
                >
                    <img
                        src="/vallax-front/assets/wallapop.svg"
                        class="2xl:w-10"
                    />
                    <img
                        src="/vallax-front/assets/vinted.svg"
                        class="2xl:w-15"
                    />
                </div>
                <DocButton />
            </div>
            <StartButton />
        </div>
    </div>
</section>
