---
import DocButton from "../components/DocButton.astro";
import RowAnimation from "../components/RowAnimation.astro";
import StartButton from "../components/StartButton.astro";
---

<section
    class="flex flex-col items-center lg:flex-row lg:justify-center lg:items-start lg:mt-10 xl:mt-22 h-screen relative"
>
    <img
        src="vallax-pet.svg"
        alt="not found"
        class="lg:w-[13rem] 2xl:w-[20rem]"
    />
    <div class="flex flex-col gap-7 mt-8">
        <span
            class="max-w-80 text-center text-[1rem] font-medium lg:text-[1.2rem] 2xl:text-[1.8rem] 2xl:max-w-130"
        >
            Controla las principales <b>plataformas</b> de segunda mano
        </span>

        <div class="flex flex-col gap-2">
            <div class="flex gap-2">
                <div
                    class="px-3 py-1 border-2 2xl:border-3 rounded-[6px] border-primary flex"
                >
                    <img src="wallapop.svg" class="2xl:w-10" />
                    <img src="vinted.svg" class="2xl:w-15" />
                </div>
                <DocButton />
            </div>
            <StartButton />
        </div>
        <RowAnimation />
    </div>
</section>
