<footer
    class="w-full bg-primary h-[7rem] mt-40 flex justify-between items-end 2xl:mt-50"
>
    <div class="2xl:w-60"></div>
    <img src="head.svg" class="2xl:w-[18rem]" />
    <div class="flex flex-col mr-2">
        <div class="gap-1 flex">
            <a href="https://discord.gg/5DxuEhPR" target="_blank">
                <img src="discord.svg" class="w-[30px] 2xl:w-[50px]" />
            </a>
        </div>
        <span class="text-white text-[8px] 2xl:text-[15px]"
            >Derechos de autor reservados 2025</span
        >
    </div>
</footer>
