<footer
    class="w-full bg-primary h-[40rem] mt-40 flex justify-between items-end"
>
    <div class="w-30"></div>
    <img src="/src/assets/head.svg" />
    <div class="flex flex-col mr-2">
        <div class="gap-1 flex">
            <a href="">
                <img src="/src/assets/instagram.svg" width="30" />
            </a>

            <a href="">
                <img src="/src/assets/tiktok.svg" width="30" />
            </a>
            <a href="">
                <img src="/src/assets/x.svg" width="30" />
            </a>
        </div>
        <span class="text-white text-[8px]"
            >Derechos de autor reservados 2025</span
        >
    </div>
</footer>
