---
import "./src/styles/global.css";
import "@fontsource-variable/lexend";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Vallax</title>
	</head>
	<body class="bg-background h-screen flex flex-col text-text relative">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Lexend Variable", sans-serif;
	}
</style>
